

.main-green {
    color: #20895D;
    font-weight: bold;
}

.main-brown {
    color: #9c6a3c;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #20895D;
}

.nav-a {
    color: white;
    font-size: 1.25em;
    text-decoration: none; 
    font-weight: bold;
}

.nav-a:hover {
    color: #20895D;
}

.footer-a {
    color: white;    
    text-decoration: none; 
    font-weight: 550;
}

.footer-a i {
    padding: 20px;
}

.footer-a:hover {
    color: #20895D;
}

.homeImage {
    width: auto;
    max-width: 100%;
    height: 100vb; 
    object-fit:cover;
    object-position: center;
}

.homeImage1 {
    width: auto;
    max-width: 100%;     
    object-fit:cover;
    object-position: center;
}

.play-hard {
    width: 70%;
    z-index: 1; 
    position: absolute;
    top: 150px;
    left: 100px;
}

.play-hard1 {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 30px;
}



.history {    
    color: var(--coreGreen);
    font-weight: 500;
}

.history-box {
    background-color: var(--coreGreenSoft);
}

:root {
    --coreGreen: #20895D;
    --coreGreenSoft: #edfaf5;
}

.soft-green {
    background-color: var(--coreGreenSoft);
}

.main {
    padding-top: 115px;
    background: rgb(232,232,101);
    background: linear-gradient(149deg, rgba(232,232,101,0.34077380952380953) 0%, rgba(32,230,83,0.2231267507002801) 51%, rgba(198,97,227,0.4416141456582633) 100%);}
    
.card-effect:hover {
    transform: scale(1.05);
}




.gallery-item {
    padding: 5px;
}
.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.gallery-item img:hover {
    transform: scale(1.1);
}

.spaced-word {
    letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        display: none;
    }
    .nav-space {
        justify-content:space-between;
    }
    .navbar_toggleBtn {
        display: block;        
    }
    .navbar-nav.active {
        display: block;
        font-size: 12px;
    }
    .gallery_list {
        display: none;
    }
    .footer-items1 {
        display: none;
    }
    .footer-items2 p {
        display: none;
    }
    .footer-items1 {        
        flex-direction: row !important;
    }
    .footer-links-empty {
        display: none;
    }
    .footer-links {
        flex-direction: row !important;
        font-size: small;
    }
    .footer-links div h5 {
        font-size: small;
    }
    .footer-links div {
        padding: 6px;
    }
    .box-footer-links {        
        justify-content: center;
    }
    .navbar img {
        width: 100px;
        height: auto;
    }
    .mobile-image {
        display: block;
    }
    .web-image {
        display: none;
    }
    .conatct-images {
        width: 100%;
        height: auto; 
        max-width: 400px;
    }
    .QR-link a{
        word-break: break-all;
    }
    .conact-ft-size {
        font-size: small;
    }
}

.photo-margin img {
    padding: 5px;
}

.button-color {
    background-color: #20895D;
    margin: 5px;
}

.button-color a {
    text-decoration: none;
    color: white;
}

.top-style {
    text-decoration: none;
    color: #20895D;
    border: 1px solid #20895D ;
    border-radius: 20%;
    padding: 2px;
}

.click-to-move {
    color: #20895D;
    text-align: center;
}




@media screen and (min-width: 769px) {
    .navbar_toggleBtn {
        display: none;
    }
    .gallery_inToggle {
        display: none;
    }
    .mobile-image {
        display: none;
    }
    .web-image {
        display: block;
    }
}




.navbar_toggleBtn {    
    position: absolute;
    right: 32px;
    font-size: 32px;
    color: var(--coreGreen);
    border: 3px solid var(--coreGreen);
    border-radius: 20%;
}

.nav-space {
    justify-content: space-between;
    align-items: center;
}

